doctype html
html
    head
    meta(charset="UTF-8")
    title
    link(href="/css/bootstrap.css",rel='stylesheet')
    script(src="/js/jquery-1.11.0.js")
    script(src="/js/bootstrap.js")
body
    p= results
    .container
      nav(aria-label="Page navigation")
        ul.pagination
            li
              a(href="#",aria-label="Previous")
                   span(aria-hidden="true") &laquo;
            li
              a(href="#") 1
            li
                a(href="#") 1
            li
                a(href="#") 1
            li
                a(href="#") 1
            li
                a(href="#",aria-label="Previous")
                    span(aria-hidden="true") &raquo;
